.form-col {
  margin: 5px;
}

.form-button {
  width: 100%;
}

.form-question {
  font-size: 2em;
  text-align: center;
  margin: 30px;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}
